apiVersion: v1
kind: Namespace
metadata:
  name: fluent
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  annotations:
    trident.netapp.io/shareToNamespace: '*'
  name: shared-pv
  namespace: fluent
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi # can be of any size, but to keep cost low, we are using 5GB 
  storageClassName: trident-csi-nas